.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .google-login-button {
    background-color: white; /* Google Blue */
    color: #4285F4;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .google-login-button:hover {
    background-color: white;
    color: red;
    border: "2px solid blue"; /* Darker Google Blue on hover */
  }
  
  .google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  